<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TLN8H3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TLN8H3');</script>
<!-- End Google Tag Manager -->

<section class="section" id="scrollTo">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">

            <!-- single post START -->
            <div class="single-post style1">

              <div class="thumb-wrapper">
                <!-- <div class="thumbs-carousel">
                    <img src="<%#= @article.imagelink %>" alt="Thumbnail">
                </div> -->
                <%= image_tag(@article.imagelink) %>
                <a href="javascript:void(0);" class="post-author" data-toggle="tooltip" title="<%= @article.author %>">

              </div>


              <h2 class="h1 post-title"><%= @article.title %></h2>
              <div class="post-meta">
                <span class="post-category">Technology</span>
                <span class="post-date"><%= @article.created_at %></span>

              </div>
              <%#= @article.imagelink %>

              <h4><%=  @article.body %></h4>
              <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>

            </div>
            <!-- single post END -->


            <!-- next/previous posts START -->
            <!-- <div class="row">
              <div class="col-md-6">
                <h4 class="next-prev-posts">
                  <small>Previous Post</small>
                  <a href="javascript:void(0);" title="Trends in technology are about to change">Trends in technology are about to change</a>
                </h4>
              </div>
              <div class="col-md-6">
                <h4 class="next-prev-posts text-right">
                  <small>Next Post</small>
                  <a href="javascript:void(0);" title="Initial wireframes of my first web design">Lorem ipsum dolor sitam consectetur adipiscing elit.</a>
                </h4>
              </div>
            </div> -->
            <!-- next/previous posts END -->

            <!-- author box START -->
           <!--  <section class="author-box">
              <h5 class="page-header">About Author</h5>
              <div class="media">
                <div class="media-left">
                  <a href="profile.html" title="Cole Martin">
                    <img src="img/authors/author3.jpg" class="media-object" alt="Cole Martin">
                  </a>
                  <a href="profile.html" class="btn btn-default profile-btn" data-toggle="tooltip" title="View author profile">View Profile</a>
                </div>
                <div class="media-body">

                  <h4 class="media-heading">Mr. Cole Martin </h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique mauris quis nisi elementum suscipit gerat. Integer luctus a nunc eu rhoncus. Integer mollis ante a consequat condimentum etiam etmi magna.</p>
                  <p class="small"><strong>Contributions:</strong> <a href="javascript:void(0);" title="All posts by Cole">456</a></p>
                  <div class="author-social" data-toggle="tooltip" data-original-title="Author's social profiles">
                    <i class="fa fa-share-alt"></i>
                    <ul class="social">
                      <li>
                        <a href="javascript:void(0);" title="facebook">
                          <i class="livicon" data-name="facebook" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" title="twitter">
                          <i class="livicon" data-name="twitter" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" title="linkedin">
                          <i class="livicon" data-name="linkedin" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" title="pinterest">
                          <i class="livicon" data-name="pinterest" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" title="dribbble">
                          <i class="livicon" data-name="dribbble" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" title="reddit">
                          <i class="livicon" data-name="reddit" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" title="skype">
                          <i class="livicon" data-name="skype" data-hovercolor="#333" data-size="18" data-onparent="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section> -->
            <!-- author box END -->







        </div>
      </div>
    </section>






<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67120211-1', 'auto');
  ga('send', 'pageview');

</script>
