<div class="full_page_photo no_photo">

</div>

<div class="main">
  <div class="container triangles-of-section">
               <div class="triangle-up-left"></div>
               <div class="square-left"></div>
               <div class="triangle-up-right"></div>
               <div class="square-right"></div>
          </div>
  <section>
     <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
             <h1><%= @blog_post.title %></h1>
               <%= link_to 'Blog', blog_posts_path, class: 'btn btn-primary float-right' %>

                <!-- Author -->
                <p class="lead">
                    by <a href="#"><%= @blog_post.author %></a>
                </p>
                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span><%= @blog_post.created_at %></p>

                <hr>

                <img class="img-responsive" src="<%= @blog_post.imagelink %>" alt="">

                <hr>

                <p class="lead"><%= @blog_post.body %></p>

                <hr>

                <%= link_to 'Back', blog_posts_path, class: 'btn btn-primary' %>



            </div>
        </div>
    </div>


  </section>
</div>

