<!DOCTYPE html>
<html>
<head>
<title>DeepBlueDev | Miami, Fl</title>
<meta name="google-site-verification" content="WVVFC8iluh53KAEFE38wZayrpb-jLwZP_XSKc3PWJtI" />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="miami, miami web development, websites, seo, seo services, web development services, outsourcing web development, build a web app, build a website, website traffic, website analysis, web application, web app, website, developer, website developer, application developer">

<meta name="description" content="Your mobile first Web heroes, Deep Blue Dev can handle all your web needs and presence. Websites, Web applications, Search engine and Mobile Optimization.">

<meta name="author" content="Deep Blue Development">



</head>
<body>

	<!-- preloader START -->
<div class="preloader">
	<div class="spinner-wrap">
		<div class="spinner spinner-wave">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
</div>
<!-- preloader END -->


<nav class="navbar navbar-custom transparent-nav navbar-fixed-top mega-menu" role="navigation">
	<div class="container">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><%= image_tag('http://i.imgur.com/5xrSayX.png') %></a>
		</div>



		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="fa fa-chevron-down"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to 'About', aboutus_path %></li>
						<li><a href="/portfolio-dbd" title="Portfolio">Porfolio</a></li>
						<li class="submenu left-dropdown">
							<a href="javascript:void(0);" title="Opportunities">Opportunities</a>
							<ul class="dropdown-menu">
								<li><a href="/white-label" title="White-Label Solutions">White-Label Solutions</a></li>
								<li><a href="/partnerships" title="Become a Partner">Become a Partner</a></li>
								<li><a href="http://www.indeed.com/viewjob?t=sales+administrator&jk=6c92c7a97b5ab551&_ga=1.73327251.1808495630.1441312763" title="Careers">Careers</a></li>
							</ul>
						</li>
						<li><a href="/articles" title="Blog">Blog</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="fa fa-chevron-down"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/seo" title="Search Engine Optimization">Search Engine Optimization</a></li>
						<li class="submenu left-dropdown">
							<a href="javascript:void(0);" title="Development">Development</a>
							<ul class="dropdown-menu">
								<li><a href="/web-apps" title="Web Applications">Web Applications</a></li>
								<li><a href="/websites" title="Websites">Websites</a></li>
							</ul>
						</li>
						<li class="submenu left-dropdown">
							<a href="javascript:void(0);" title="Mobile-First Optimization">Mobile-First Optimization</a>
							<ul class="dropdown-menu">
								<li><a href="/mobile-first" title="Get Mobile Friendly">Get Mobile Friendly</a></li>
								<li><a href="https://www.google.com/webmasters/tools/mobile-friendly/" title="Mobile Friendly Test">Mobile Friendly Test</a></li>
							</ul>
						</li>

					</ul>
				</li>

				<li class="dropdown">
					<a class="btn btn-info btn-xs sq-corner" href="callto:8446333725">(844) 633-3725</a>
				</li>

			</ul>
		</div><!-- /.navbar-collapse -->

	</div><!-- /.container -->
</nav>
<!-- main navigation END -->


<%= yield %>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-12">

				<h4 class="strong">About Deep Blue Dev</h4>
				<p>We are a Mobile-first Dev shop and Internet Marketing Firm. Bring your internet needs to us and let us build you a custom solution. Have an idea for the next big Start-up? Deep Blue can be your technical Co-founder.</p>
		<a href="https://docs.google.com/forms/d/1R0oOW-8kC7F2lAnystAOjJHWSgW-h-eXjIU6_1feo7o/viewform?usp=send_form" title="Contact Us" class="btn btn-default btn-icon contact-btn"><i class="livicon" data-name="mail" data-color="#fff" data-hovercolor="false" data-size="18"></i> Contact Us</a>

			</div>
		<div class="col-lg-2 col-sm-4 col-lg-offset-4">

				<h4 class="strong">Company</h4>
				<ul class="ft-list">
					<li><a href="/aboutus" title="Link title here">About Us</a></li>
					<li><a href="/partnerships" title="Link title here">Partners</a></li>
					<li><a href="/process" title="Link title here">Our Process</a></li>
					<li><a href="http://www.indeed.com/viewjob?t=sales+administrator&jk=6c92c7a97b5ab551&_ga=1.73327251.1808495630.1441312763" title="Link title here">Careers</a></li>
				</ul>

		</div>
		<div class="col-lg-2 col-sm-4">

				<h4 class="strong">Services</h4>
				<ul class="ft-list">
					<li><a href="/seo" title="Link title here">Search Engine Optimization</a></li>
					<li><a href="/which-one" title="Link title here">Mobile-Friendly Optimization</a></li>
					<li><a href="/which-one" title="Link title here">Web Development &amp; Websites</a></li>
					<li><a href="/web-apps" title="Link title here">Custom Business Solutions</a></li>
				</ul>

		</div>


		</div>
		<hr>
		<div class="row">
			<div class="col-sm-8 hidden-xs">

				<ul class="list-inline">
					<li><a href="/portfolio-dbd" title="Link title here">Portfolio</a></li>
					<li><a href="/white-label" title="Link title here">White-Label</a></li>
					<li><a href="/articles" title="Link title here">Blog</a></li>
					<li><a href="/portfolio-dbd" title="Link title here">Clients</a></li>
				</ul>

			</div>
			<div class="col-sm-4">

				<div class="ft-social text-right">
					<a class="cst-btn-ten" href="https://plus.google.com/b/104744400389583009455/104744400389583009455/posts"><i class="fa fa-google-plus"></i><span>p</span></a>
					<a class="cst-btn-ten" href="https://www.linkedin.com/company/deep-blue-development?report%2Esuccess=KJ_KkFGTDCfMt-A7wV3Fn9Yvgwr02Kd6AZHGx4bQCDiP6-2rfP2oxyVoEQiPrcAQ7Bf"><i class="fa fa-linkedin"></i><span>in</span></a>
					<a class="cst-btn-ten" href="https://twitter.com/deepbluedev"><i class="fa fa-twitter"></i><span>t</span></a>
				</div>

			</div>
			<div class="col-lg-12 col-sm-6">

				<p class="copyright">© 2015 Deep Blue Development</p>

			</div>
		</div>

	</div>
</footer>
<!--
<script type="text/javascript">
$(document).ready(function(){
    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL;
        location = "#";

        //Reload the page
        location.reload(true);
    }
});
</script>
 -->
</body>
</html>
