<!DOCTYPE html>
<html>
<head>
<title>DeepBlueDev | Miami, Fl</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<meta name="description" content="Web Development and Design">
<meta name="author" content="Deep Blue Development">
<!-- <link rel="icon" href=""> -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/superslides.css" />
<link rel="stylesheet" type="text/css" href="css/masonry.css" />
<link rel="stylesheet" type="text/css" href="css/fancybox.css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,700" />

<!-- Stylesheet Custom Background -->
<link rel="stylesheet" type="text/css" href="css/bg/gray.css" id="swap-bg" />

<!-- Stylesheet Custom Color -->
<link rel="stylesheet" type="text/css" href="css/color/yellow.css" id="swap-color" />
</head>
<body>
	
<% if browser.mobile? == false %>
<%= yield %>
<% else %> 
<%= render "mobile_layout" %>
<% end %>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/jquery-1.10.0.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script> 
<script type="text/javascript" src="js/jquery.animate-enhanced.min.js"></script> 
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="js/jquery.superslides.min.js"></script> 
<script type="text/javascript" src="js/jquery.masonry.min.js"></script> 
<script type="text/javascript" src="js/jquery.fancybox.min.js"></script> 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>
